@model IEnumerable<DatabaseCoursework.Models.CastMember>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.DVDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.ActorNumber)
            </td>
            <td>
               
                <a asp-action="Delete" asp-route-id="@item.DVDNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
